.loader {
  border: 1em solid #353737;
  border-top: 1em solid #212424;  
  border-bottom: 1em solid #212424; 
  border-radius: 50%;
  width: 6em;
  height: 6em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}